@charset "utf-8";
/* CSS Document */
h1{
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
    font-style: bold;
	color: rgb(61, 11, 11)
}
h2{
	color: rgb(22, 102, 102);
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
	font-style: normal
}
h5{
	color: dimgrey;
	font-style: italic
}
div{
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif
}
p{ 
	font-size: 16px;
	line-height: 45px;
	font-variant-position: super
}